<template>
    <h1 class="headline">About Me</h1>
    <div class="me">
        <section class="section-left">
            <div class="image"><img src="/SpatialFantasy/img/rabit-16x16-4bit[gameboy-color].jpg" alt=""></div>
            <p class="nickname">Zeki Chang</p>                
            <p class="birthday">1987.12.10／Sagittarius</p>
        </section>
        <section class="section-right">
            <p class="description">
                簡介:<br/>
                Hi，我是Zeki，這裡是一個3D空間創作的秘密基地。
                把想體驗的場景透過3D編輯器創作出來，然後分享在這裡。
                目前的空間地圖作品以CS1.6為主，未來也會嘗試其他類型的空間創作。

            </p>
            <ul class="tools">
                使用的工具:
               
                    <li>J.A.C.K 1.1.3773</li>
                    <li>Autodesk 3ds Max 2010</li>
                    <li>MilkShape 3D 1.8.4</li>
               
            </ul>
            
        </section>
    </div>
</template>