<template>
  <h1 class="headline">News</h1>
  <div id="newsInfo"></div>
</template>

<script>
  const newsInfoEl = zk.getId('newsInfo');
  newsInfoEl.html = '';
  let ulEl = zk.makeTag("ul");
  ulEl.className = "newsInfo_Table";

  try {
    const res = await fetch(API_GET_DATA);
    const data = await res.json();
    for(let i=0; i<data.length; i++) {

        let liEl = zk.makeTag("li");
        let dateEl = zk.makeTag("date");
        let spanEl = zk.makeTag("span");

        liEl.setAttr("path", `${data[i].category}/${data[i].title}`);
        dateEl.html = data[i].date;

        if(i === 0) {
          let imgEl = zk.makeTag("img");
          imgEl.src = `/SpatialFantasy/img/spatial/${data[0].category}/${data[0].gallery[0]}`;
          spanEl.html = data[0].title;
          liEl.addKids(dateEl, imgEl, spanEl);
        } else {
          spanEl.html = `${data[i].category.toUpperCase()} adds: "${data[i].title}".`;
          liEl.addKids(dateEl, spanEl);
        }
        
        ulEl.addKid(liEl);
        newsInfoEl.addKid(ulEl);
    }
  } catch (error) {
    console.error("資料載入失敗", error);
  }
  const liEls = ulEl.getTag("li");

  liEls.forEach((liEl, idx) => {
    if (idx > 2) liEl.hide();
  });

  if(liEls.length > 3) {
    let divEl = zk.makeTag("div");
    divEl.id = "newsMore_Line"
    divEl.html = "<a href='javascript:void(0)' class='more'>More...▼</a>";
    newsInfoEl.addKid(divEl);

    const bodyEl = zk.one("body");
    const moreEl = zk.getId("newsMore_Line").getClass("more")[0];
    const newsInfoTableEl = zk.getClass("newsInfo_Table")[0];
    if(bodyEl.hasClass('overflow-hidden')) bodyEl.delClass("overflow-hidden");
    moreEl.on("click", () => {
        const liEls = ulEl.getTag("li");
        const isMore = moreEl.text.includes("More");
        liEls.forEach((liEl, idx) => {
          if (idx > 2) isMore ? liEl.show() : liEl.hide();
        });
        moreEl.text = isMore ? "▲...Less" : "More...▼";
    });
  }


  // 點擊News列表，將會自動載入相對應作品頁面。
  newsInfoEl.on('click', event => {
    if(event.srcElement.parentElement.tagName.toLowerCase() === 'li') {
      if(location.hash.includes("#")) {
        location.hash = `/${zk.toZekiEl(event.srcElement.parentElement).getAttr('path')}`;
      } else {
        history.pushState(null, "", `./${zk.toZekiEl(event.srcElement.parentElement).getAttr('path')}`);
      }
      zk.one('[slot=content]').setAttr('path', zk.toZekiEl(event.srcElement.parentElement).getAttr('path'));
    }
  })
</script>
